@viewport{
    zoom: 1.0;
    width: device-width;
}

body{
    background: #f7f7f7;
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
    overflow-x: hidden;
}

header div {
    display: inline-block;
}

.container header {
    text-align: center;
    height: 3.75rem;
    background-color: orange;
    z-index: 1000;
    position: relative;
    overflow: hidden;
    display: block;
}

.container header div {
    cursor: pointer;
}

.container .toggleMenu {
    float: left;
    height: 3.75rem;
}

.topcoat-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-top: 1px solid #bcbfbf;
    color: #454545;
}

.topcoat-list__item:first-child {
    border-top: 1px solid rgba(0,0,0,.05);
}
.topcoat-list__item {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #bcbfbf;
}
