@viewport{
    zoom: 1.0;
    width: device-width;
}

body{
	background: #f7f7f7;
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    text-align: center;
}

.container  ul{
    
}
.container .buttons li {
    display: inline-block;
    width: 33%;
}

header div {
    display: inline-block;
}

.container header {
    text-align: center;
}

.container .menu {
    float: left;
}

.container .notifications {
    float: right;
}

.container .content{
    padding: 1em 1.5em;
}

.container .content img{
    width: 100px;
    height: 100px;
    border: 0.1em solid black;
}

.container .content a:link{
    text-decoration: none;
}

.container .content .activity{
    background-color: lightgreen;
    padding: 0.4em;

}

.container .content .activity .info{
    display: inline;
}

.container .content .activity .info .date{
    color: grey;
    font-size: 80%;
}

.container .content .activity .interact li{
    display: inline-block;
    width: 50%;
    background-color: green;
}

