@viewport{
    zoom: 1.0;
    width: device-width;
}

body{
	background: #f7f7f7;
    font-family: 'Arvo', serif;
    font-size: 2em;
}

ul {
    padding-left: 0;
    margin: 0;
}

i {
    margin-right: 0.3em;
}

input{
    width: 12em;
    height: 2em;
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
}

.container a:link{
    text-decoration: none;
    color: black;
}
.container a:visited{
    color: black;
}

.container a:hover{
  text-decoration: underline;
}


header div {
    display: inline-block;
}

.container header {
    text-align: center;
    padding: 1em 0;
    background-color: orange;
}

.container .menu {
    float: left;
}

.container .notifications {
    float: right;
}

.container .buttons{
    border: 0.1em solid lightgrey;
    text-align: center;
}

.container .buttons li {
    display: inline-block;
    width: 32%;
    border-right: 0.1em solid lightgrey;
    padding: 1em 0;
    color: #827D72;
}

.container .buttons li:last-child{
    border:0;
}

.container .content{
    padding: 1em 0;
}

.container .content .activity img{
    border: 0.1em solid lightgrey;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.3em;
}

.container .content.home .activity img{
    width: 4em;
    height: 4em;
}

.container .content .activity p a:link{
    font-weight:bold;
}

.container .content .activity{
    padding: 0.4em;
    background-color: #FFE6B2;
    margin-bottom: 1em;
}

.container .content .activity .date{
    color: grey;
    font-size: 80%;

}

.container .content .activity .interact{
    clear:both;
    background-color: #FFCC66;
    text-align: right;
}

.container .content .activity .interact li{
    display: inline-block;
    padding: 0.3em 0.3em; 
    font-size: 80%;
}

.container .content.profile img{
    width: 150px;
    height: 150px;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.container .profile_details .information {
    overflow: hidden;
    background-image:url("/img/stat.jpg");
    background-size:400px 200px;
    background-repeat:no-repeat;
    background-position:right;
}

.container .content.profile .activity{
    clear: both;
    margin-top: 0.5em;
}

.container .content.profile .activity img{
    width: 60px;
    height: 60px;
}

.container .content.newActivity .navigation {

}

.container .content.newActivity .navigation ul{

}

.container .content.newActivity .navigation li{
   display: inline;
}

.container .content.newActivity .navigation li a{
    float: left;
    padding: 0.4em;
    border: solid grey 1px;
    background-color: #FFE6B2;
    width: 100%;
}

.container .content.newActivity .navigation li a span{
    float: right;
    color: grey;
}

.container .content.newActivity .save{
    float: right;
    margin-bottom: 1em;
    background-color: lightgrey;
    padding: 1em;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

