        <ul class="buttons">
            <li><i class="fa fa-comment"></i>Status</li>
            <li><i class="fa fa-camera"></i>Bilde</li>
            <li><a href="#/register"><i class="fa fa-plus"></i>Ny aktivitet</a></li>
        </ul>
        <div class="content home">
                 <div class="activity" ng-repeat="activity in activities">
                    <img src="img/{{activity.pic}}.jpg"/>

                    <p><a href="#/profile">{{activity.name}}</a> {{activity.status}}</p>
                    <div class="date">{{activity.date}}</div>

                    <ul class="interact">
                        <li><a ng-click="addKudos(activity.id)" href="">Gi kudos</a></li>
                        <li><a href="#">Kommenter</a></li>
                        <li><a href="#"><i class="fa fa-thumbs-up"></i>{{activity.kudos.length}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i>{{activity.comments}}</a></li>
                    </ul>
				</div>
		</div>