<div class="content">
	<div class="content newActivity">

		<nav class="navigation"> 
			<ul class="navigation">  
				<li><a ng-click="chooseActivity('gått tur')" href="#/activity">Gått tur</a></li>  
				<li><a ng-click="chooseActivity('syklet')" href="#/activity">Syklet</a></li>  
				<li><a ng-click="chooseActivity('svømt')" href="#/activity">Svømt</a></li>   
				<li><a ng-click="chooseActivity('gått på ski')" href="#/activity">Gått på ski</a></li>  
				<li><a ng-click="chooseActivity('trent styrke')" href="#/activity">Trent styrke</a></li>  
				<li><a ng-click="chooseActivity('løpt')" href="#/activity">Løpt</a></li>
			</ul> 
	    </nav>
	</div>
</div>